@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body,
.navbar-collective,
h1, h2, h3, h4, h5, h6, .resultsnav .nav-btn, .resultsnavright .nav-btn {

}

body {
	font-size: 0.9rem;
}

.col-lg-20p {
	width:20%;
}


/* Remove eminstitute styles */
.collectivebanner, .collective-sidebar, .collaborate-sidebar, .maincontent, .community-maincol, .feedupload, .feed-topics, .feedupload-uploader, .profile-sidebar, .contentcolumn, .collectivemaincol, .collective-grid-logo, .shadowbox {
	box-shadow: none;
}
.community-maincol-homepage .feedcard,  .content-collective-home, .collective-sidebar, .shadowbox,
.oicontainer, .profile-userimage, .login-area .container {
    box-shadow: 0 0 1px rgb(0 0 0 / 25%), 0 1px 3px rgb(0 0 0 / 30%);
}

.badge {
    padding: 0.3em 0.4em;
    line-height: 1.1;
    }

/*Color*/
a {
  color:#1D5655; 
}

a.active, 
a:hover {
}

.oicontainer {
	background-color: #fff;
	padding:0;
}

.btn {
	border-radius: 1.2rem;
}


.btn-xl {
	font-size:1.2rem;
	padding:.45rem 1.1rem
}

.btn-primary {
    color: #ccc;
    background-color: #1D5655;
    border-color: #1D5655;
}
.btn-primary:focus,  .btn-primary:hover {
    color: #fff;
    background-color: #1D5655!important;
    border-color: #1D5655!important;
}

.badge-success {
    color: #fff;
    background-color: #409D90;
}
a.badge-success:focus, a.badge-success:hover {
    color: #fff;
    background-color: #1D5655;
}
.btn-success {
   color: #fff;
    background-color: #409D90;
    border-color: #409D90;
}
.btn-success:focus, .btn-success:hover {
	color: #fff!important;
    background-color: #1D5655;
    border-color: #1D5655;
}

.btn-secondary {
    color: #fff!important;
    background-color: #009DA4;
    border-color: #009DA4;
}
.btn-secondary:focus, .btn-secondary:hover {
	color: #fff!important;
    background-color: #0D7479!important;
    border-color: #0D7479!important;
}

.subscribe-btn {
    background-color: #C8C446;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-selection__choice {
    color: #eee;
    background-color: #1D5655;
    border-color: #1D5655;
    cursor:pointer;
    font-size:0.9em;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
	color: #fff;
    background-color: #1D5655;	
}
.select2-container--default:hover .select2-selection--multiple .select2-selection__choice, .select2-selection__choice {
    color: #ccc;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 6px;
}

.sidebarbox h4 {
    border-bottom:0 none;
    padding:0;
    margin:8px 0 20px;
}

tr.emborderhover td, .table-hover>tbody>tr:hover, .emsettingslist li:hover, .emsettingslist li.current, .emsettingslist li:nth-of-type(even):hover, .search-list li.current a.search-href, .sidebar-list li.current, .search-list li:hover, .sidebar-list li:hover, .sidebar-collection-list li.current:hover, .emtree .checkbox .field, .emtree .treerow:hover, .emtree .treerow.selected, .emtree .treerow.selected:hover, .emtree .cat-current, .filters-sidebar li:hover, .filters-sidebar-selected li:hover, .list-hover:hover, ul.list-group.list-group-hover li:hover, .emrowselected, .table-striped tr.emrowselected:nth-of-type(odd), .uploadcollection,
.collectivesettings-menu li.current a, .collectivesettings-menu li a:hover {
    background-color: #dcf7f3!important;
}

h1, h2 {
	color:#1D5655;
}

li.menu-subheader {
	background-color: #1D5655;
	color:#ddd;
	padding: 0 10px 0 15px;
}

.sidebar-toggler {
    color: #666;
    background-color: #a7b7b5;
}
.sidebar-toggler:hover {
    color: #222;
    background-color: #a7b7b5;
}

.navbar-collective li.active a {
    border-bottom: 2px solid #ccc;
    color: #fff;
}
.navbar-collective .nav-link:hover {
    color: #ccc;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ccc;
    background-color: #d4dbda;
}

.collaborate-sidebar {
    background-color: #1D5655;
    color: #fff;
    padding:8px 10px;
}
.collaborate-sidebar a {
	color: #ccc;
}
.collaborate-channels ul li.current a {
    background-color: transparent;
    color: #ccc;
}
.collaborate-channels ul li.current a:hover {
	color:#fff;
}
.community-add-btn {
    color: #C8C446;
}
.chatloadmorelink {
	display:block;
	text-decoration: none;
	padding: 5px;
	text-align: center;
	background-color: #efefef;
	margin:2px;
}
.chatloadmorelink:hover {
	background-color: #cfcfcf;
text-decoration: none;
	}
.login-area .container {
	background-color: #fff;
	padding:10px 15px 30px;
}



.contentcolumn, 
.proposaldescription,
.community-sidebar-box  {
	background-color:#fff;
	color: #1D5655;
}
.sidebarbox h4 {
color: #1D5655;
}


.container-feed {
	padding-top:20px;
}


.oihometext,
#mainOINav .navbar-nav a,
#mainOINav .select2-container--default .select2-selection--single .select2-selection__rendered,
#mainOINav .select2-container--default .select2-selection--single .select2-selection__placeholder
{
	color:#424367;
	font-size: 0.85rem;
}
#mainOINav .navbar-nav a.btn {
	font-size: 0.75rem;
	padding:0.25rem 0.45rem;
}
#mainOINav  .select2-container--default .select2-selection--single {
	border-color:#002685;
}
#mainOINav .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color:#002685  transparent transparent transparent;
}







/*OI header*/
.oiheaderout {
	position:relative;
	background-color: #7fbdb5;
	box-shadow:2px 2px 2px 0 rgba(0,0,0,0.2);
	z-index: 1001;
}
.oiheader {
	height:75px;
	position:relative;
	z-index:100;
}
.oi-header-table {
	display:table;
	width: 100%;
}

.oi-header-table-c1 {
	display:inline-block;
	vertical-align: middle;
	width: 30%;
}
.oi-header-table-c2 {
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	width: 35%;
}

.oi-header-table-c3 {
	display:inline-block;
	vertical-align: middle;
	width: 35%;
}
.oi-header-table {
	vertical-align: top;
	width: calc(100% - 20px);
	margin:0 auto;
	
}
/*OI NAV*/
#mainOINav {
	
}
#mainOINav .navbar-toggler {
 	color:#3e4553;
	padding:.25rem .25rem
 }
#mainOINav .nav-item { 
	text-align:right; 
	font-weight: normal;
	text-transform: uppercase;
	padding-top:4px;
}
#mainOINav .addnewproject {
	padding-top:6px;
}
#mainOINav .dropdown-item {
	font-size: 0.8em;
}
#mainOINav .dropdown-item a {
	color:#fff;
	text-decoration: none;
}
#mainOINav .dropdown-item a:hover {
	text-decoration: none;
}
#mainOINav .nav-item.active
{
	background-color: #79A6AB;
}
#mainOINav .nav-item a {
	color:#fff;
}
#mainOINav .nav-item.active a {
	color: white;
}
#mainOINav .currentlibrary {
	background-color: #efefef;
}


.nav-collectionpicker {
	width: 100%;
	display: block;
}

.nav-collectionpicker .select2-container .select2-selection--single {
    height: 26px;
}
.nav-collectionpicker .userpicker {
	margin-bottom:5px;
}
#mainOINav  .oi-navbar-nav {
	padding:0 5px ;
	margin:0;
	display:flex;
	flex-direction: row;
	list-style: none;
	float:right;
}
#mainOINav  .col-oi-logo {
	display: inline-block;
	
}
#mainOINav  .oi-navbar-nav .nav-link {
		font-size:0.85rem;
		padding:1px 5px;
		line-height: 1.6;
}
#mainOINav .dropdown-menu {
	border-radius: 0;
	background-color: #79A6AB;
	padding:0!important;
}

#mainOINav .col-oi-picker {
		width:200px;
		display: inline-block;
	}
.nav-collectionpicker {
   display: inline-block;
}
.logo-sm1 {
	display: inline-block;
}
	
@media (min-width: 992px) {
	.oi-header-table-c1 {
	display:table-cell;
	width: 33%;
	}
	.oi-header-table-c2 {
		display:table-cell;
		width: 33%;
	}
	.oi-header-table-c3 {
	display:table-cell;
	width: 33%;
	}
	
	#mainOINav  .col-oi-logo {
	
}
	#mainOINav .col-oi-picker {
		
	}

	#mainOINav  .oi-navbar-nav .nav-link {
		font-size:0.85rem;
		padding:1px 10px;
		line-height: 2;
		
	}
	
	#mainOINav .oi-navbar-nav a.btn {
	font-size: 0.75rem;
	padding:0.45rem 0.55rem;
}
}	
@media (min-width: 1200px) {
	.oi-header-table-c1 {
		
	}
	.oi-header-table-c2 {
		
	}
	#mainOINav .col-oi-picker {
		width:220px;
		margin-left:10px;
	}
	.nav-collectionpicker {
    width: 95%;
    display: inline-block;
}
	.addnewproject {
	padding-top:8px;
	}
	.navbar-brand {
	padding:5px 20px 0;
	margin:0 20px;
	}
	
	#mainOINav  .oi-navbar-nav .nav-link {
	padding:1px 15px;
	}
}
/*OI Homepage*/
.bodywebsite h1 {
	text-align:center;
	padding:15px 5%;
	color:#1D5655;
}
.bodywebsite .paralax {
	background-color:#1D5655;
	background:url('../images/oi-home-banner.svg') no-repeat center 10px  #1D5655;
	
	min-height:210px;
	color:#fff;
	text-align:center;
	padding: 120px 5% 0px 5%;
	font-size:1.3rem;
}

.bodywebsite .oihometext {
	margin:20px;
	padding: 20px 25%;
	font-size:1.1rem;
}




.currentcampaigns {
	background-color: #EFEF97;
	
	padding:15px 25px;;
	margin:20px 0;
	border-radius: 20px;
	position:relative;
}

.currentcampaign {
	padding:15px 15px;;
	margin:0;
	position:relative;
}

.currentcampaigs h2 {
	margin:0 0 30px;
	font-weight:700;
	color:#1D5655;
}

.communitycontainer-header {
	background-color: #1D5655;
	color:#fff;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	padding:0;
	position:relative;
	
}
.communitycontainer-header h3 {
	color:#fff;
	margin:0;
	padding:10px 0 0 18px;
	font-weight: 700;
	width:70%;
}

.communitycontainer-header h3 a {
	color:#fff;
	text-decoration: none;
}


.communityprojects-header {
	background-color: #1D5655;
	color:#fff;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	padding:0;
	position:relative;
	
}
.communityprojects-header h3 {
	color:#fff;
	margin:0;
	padding:10px 0 0 10px;
	font-weight: 700;
	width:85%;
}


.communityprojects-content {
	
	padding:10px;
}

.communityprojects-content .card-collections {
	width:100%;
	
	margin:0 0 10px;
}

.communityprojects-content .pick-item {
	height: 75px;
	display: block;
	color:#009DA4;
}
.communityprojects-content .card-collections .card-collections-thumb {
	width:75px;
	height: 75px;
	float:left;
}

.communityprojects-content .card-collections .collectionbox {
	line-height: 1.2;
	height: 100%;
	margin:0;
	padding: 0 0 0 6px;
 display: flex;
  align-items: center;
  justify-content: left;
  text-align:left;	
}
.communityprojects-content .card-collections .collectionbox span {

}
.proposalheader h4 {
	color:#fff;
	margin:0;
	padding:8px 0 0;
	font-weight: 700;
	width:70%;
	
}
.proposalcontainer-out {
	background-color: #1D5655;
	color:#fff;
	margin-bottom:40px;
	padding:15px 15px;
}


.proposaldescription {
	padding:15px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.proposalnews {
	background-color: #fff;
	padding:5px 15px;
	color: #1D5655;
	
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.proposalnews .feedcard-body {
	margin:0;
}
.proposalheader {
	height: 40px;
	padding:0 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #409D90;
}
.communtysofar {
	padding:10px 10px;
	text-align: right;
	font-weight:700;
}


.community-sidebar-box {
	border:8px solid #1D5655;
	background-color: #fff;;
	padding:6px;
}

/*#409D90*/
.project-grid {
	text-align: center;
}
.card-collections {
	width:200px;
	float:none;
}
.card-collections .card-collections-thumb {
	border:3px solid #C8C446;
	box-shadow:none;
	width:115px;
	height: 115px;
	background-repeat: no-repeat;	
}
.card-collections a .collectionbox {
    color: #009DA4;
}
.card-collections .collectionbox {
    padding: 4px 8px;
    background-color: transparent;
    margin-top: 8px;
    font-weight: 700;
    font-size:0.8rem;
}
.card-collections:hover .collectionbox {
	background-color: transparent;
}
.card-collections a:hover .collectionbox, .card-collections a:hover{
	color: #1D5655;
}
.card-collections a:hover .card-collections-thumb {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
}

.card-name {
    white-space:normal ;
  }

.collectiveheadermenu .navbar-collective .nav-link {
	padding:0.2rem .2rem;
	font-size:0.80rem;
}
.donatenow {
	position: absolute;
	padding:5px 20px 5px 20px;
	top:20px;
	right: 10px;
}
.donatecard {
	border:0 none;
}

@media (min-width: 640px) {
	.bodywebsite h1 {
	padding:20px 25%;
	}
	.bodywebsite .paralax {
	padding: 120px 25% 0px 25%;
	}
	 .card-collections {
	vertical-align: top;
	}
	.donatenow {
	padding:5px 20px 5px 20px;
	top:20px; 
	right: 40px;
	}
	.communitycontainer-header {
		background-color: #1D5655;
		color:#fff;
		border-top-left-radius:20px;
		border-top-right-radius: 0;
		padding:0;
		width: 50%;
		height: 35px;
		display:inline-block;
		position:relative;
	}
	.communitycontainer-header h3 {
	float:none;
	width: 100%;
	}
	.communitycontainer-header h3 a:hover {
	color:#ccc;
	text-decoration: none;
	}
	.communitycontainer-header:after, .communitycontainer-header:before {
	    content: '';
	    display: block;
	    position: absolute;
	}
	
	.communitycontainer-header:after {
		top: -40px;
	    right: -40px;
	    border: 40px solid transparent
	}
	
	.communitycontainer-header:after {
	    border-bottom-color: #1D5655;
	}
	.proposalcontainer-out,
	.communityprojects-body {
		border-radius: 20px;
		border-top-left-radius:0;
	}
	
	
	.communityprojects-header {
		background-color: #1D5655;
		color:#fff;
		border-top-left-radius:0px;
		border-top-right-radius: 0;
		padding:0;
		width: 89%;
		height: 35px;
		display:inline-block;
		position:relative;
	}
	
	.communityprojects-header:after, .communityprojects-header:before {
	    content: '';
	    display: block;
	    position: absolute;
	}
	
	.communityprojects-header:after {
		top: -35px;
	    right: -35px;
	    border: 35px solid transparent
	}
	
	.communityprojects-header:after {
	    border-bottom-color: #1D5655;
	}
	

}

.collectiveheader {
	width: calc(100% - 20px);
	height:140px;
	margin:10px 10px 20px;
}

.collectiveheadermenu {
	width:100%;
	position:absolute;
}
.campaigncollectiveheadermenu {
	width:100%;
}
.collectiveheader .project-thumb {
	margin:5px;
}
.collectiveheader .project-title  {
padding:10px 0 0 120px ;
min-height: 115px;
}

.campaignscollectiveheader {
	width: 100%;
	height:190px;
	margin:0 0;
	background-color: #ddd;
}
.oicontainercampaigns {
	margin:0 0 5px;
	background-color: #EFEF97;
	padding-bottom:40px;
	min-height: 400px;
}

.campaignscollectiveheader h1 {
	color:#fff;
	text-shadow: 1px 1px #000000;
}

.project-title h1 {
	font-weight: bold;
	font-size:1.6rem;
	line-height:1.1;
	margin:0 0 5px 0;
	
}
.project-likes {
	font-weight:normal;
	color:#555;
	font-size:0.9rem;
	text-align: center;
}
.project-likes-count {
	display: inline-block;
	margin-right: 8px;
	line-height: 21px;
}
.request-join {
	font-size:.75rem;
	line-height:21px;
	color:#555;
}
.btn-liked {
	color:#909090;
}

.contentcolumn {
	margin-bottom:30px;
}
.community-maincol .contentcolumn { 
	padding:0;
}
.community-maincol .feedcard-header {
	padding:15px;
}

.collective-sidebar {
	padding:10px 10px;
	margin:0 10px 0;
	font-size:0.9rem
}

.collective-sidebar .card-collections {
	width:100%;
	text-align: center;
}

.channel-container .collective-sidebar {
	margin:0;
}

.content-collective-home img {
	max-width: 100%;
}

.feed-maincol {
	max-width:720px;
}
.collectivemaincol {
	margin-top:0;
}

.community-maincol .contentpadding {
	padding:20px;
}

.htmlintro {
	padding:20px;
}


.collectivemaincontainer {
	height: calc(100% - 140px)
}

.maincontentsidebar {
	margin-bottom:10px;
}



@media (min-width: 640px) {
	.collectiveheader {
		width: 860px;
		margin:10px auto 0;
	}
	.collectiveheadermenu {
	left:95px;
	}
	.collectiveheader .project-thumb {
	width: 115px;
	height: 115px;
	border:3px solid #C8C446;
	}
	.campaignscollectiveheader .project-thumb {
	position:relative;
	width: 85px;
	height: 85px;
	border:1px solid #C8C446;
	}
	.collectiveheader .project-title {
	margin-bottom:10px;
	font-size:1.6rem;
	padding:0 0 0 5px;
	height: 70px;
	min-height: 70px;
	text-align:center;
	}
	
	.campaignscollectiveheader .project-title {
	margin-bottom:10px;
	font-size:1.5rem;
	padding:12px 0 0 5px;
	min-height: 50px;
	text-align:center;
	}

	.project-title h1 {
	margin-bottom:10px;
	font-size:1.6rem;
	line-height:1.2;
	}
	.collectiveheadermenu {
	padding-top:10px;
	left:135px;
	width:calc(100% - 135px);
	}
	.collectiveheadermenu .navbar-collective li {
	float:none;
	}
	.navbar-collective .nav-link {
		padding:0.2rem .35rem;
		font-size:0.85rem;
		font-weight: bold;
	}
	.community-maincol  {
		margin:0 10px 10px 0;
	}
	.community-maincol-homepage  {
	margin: 0px;
	}
	.coldonatios {
		margin:0 20px 10px;
	}
}



.collectivesettings-menu h3,
li.menu-subheader {
	margin:0 0 0px 0;
	padding:10px 15px;
	font-weight: bold;
}

.collectivesettings-menu ul {
	margin:0;
	padding:0;
}
.collectivesettings-menu li {
	list-style: none;
	border-bottom:1px solid #eee;
}

.collectivesettings-menu li a {
	display: block;
	padding:5px 15px;
	background-color: #dfdfdf;
	color:#333;
}

.collectivesettings-menu li.current a,
.collectivesettings-menu li a:hover {
	text-decoration: none;
	color:#000;
}

.tablefinances {
	margin-bottom:30px;
}
.tablefinances td {
	padding:0.5rem;
} 
.tablefinances-header {
	background-color: #f5f5f5;
}

.currencysmall {
	font-size:0.8em;
}

/*ABOUT US**/
.about-main {
	background-color: #1D5655;
	color:#fff;
	padding:1px 1px 30px;
	clear:right;
}

.about-header {
	font-size:1.1rem;
	background-color:#449A8D;
	text-align: center;
	width:95%;
	padding:15px 10px;
	margin:20px auto;
	border:8px solid #fff;
	border-radius: 40px;
	box-shadow: -15px 10px 20px -5px rgba(0,0,0,0.6);
}

.about-donate-btn {
	width:150px;
	margin:10px auto;
	margin-bottom:5px;
}

.about-highlight {

	width:280px;
	margin:10px auto;
	padding:10px 20px;
	background-color: #DFDC71;
	border: 1px solid #DFDC71;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	text-align: center;
	
	box-shadow: -15px 10px 20px -5px rgba(0,0,0,0.7);
}
.about-highlight h3 {
	font-size:2rem;
	font-weight:700;
	margin:0 0 10px;
	color:#fff;
	border-bottom:2px solid #C5C349;
	padding-bottom:5px;
}
.about-highlight-t2 {
	color:#1D5655;
	font-weight: normal;
}
.about-highlight-t1 {
	color:#1D5655;
	font-weight: 700;
}

.about-team {
	max-width: 540px;
	margin:0 ;
}

.about-separator {
	border-top:4px solid #C5C349;
	padding:1px 20px;
	margin:0 10%;
	
}


.secondary-main {
	margin:70px 0 30px;
	padding:20px 0px 20px;
	background-color: #fff;
	border:8px solid #DFDC71;
	border-radius: 40px;
}
.secondary-main h2 {
	padding-left: 20px;
}
.about-box {
	margin:10px 0px 40px;
} 
.about-box-content {
	padding:20px;
	min-height:120px;
	
}

.about-platform .about-box-header {
	background: url('../images/about-header-bg-1.png') repeat;
	margin:0;
	height: 40px;
}
.about-features .about-box-header {
	background: url('../images/about-header-bg-2.png') repeat;
	margin:0;
	height: 35px;
}
.about-testimonials .about-box-header {
	background: url('../images/about-header-bg-3.png') repeat;
	margin:0;
	height: 35px;
}

.secondary-main h3 {
	max-width:200px;
	
	height:32px;
	font-weight:bold;
	
	font-size:1.1rem;
	line-height:1.8;
	color:#1D5655;
	margin:0 auto;
	padding:0 30px;
	background-color: #DFDC71;
	text-align:center;
	font-size:1.2rem;
	text-align: center;
	box-shadow: -15px 10px 20px -5px rgba(0,0,0,0.7);
}

.form-group
{
	margin: 6px 0 6px 0px;
}


@media (min-width: 640px) {
.about-main {
	padding:1px 1px 60px;
}

.about-header {
	width:100%;
	padding:15px 60px;
}
.secondary-main {
		/*margin:20px 0;*/
	}
.about-team {
	margin-top:-10px;
	float:left;
	margin-left:20px;
}
.about-highlight {
	float:right;
	width:280px;
	margin-top:-90px;
	margin-right:8%;
	padding:10px 20px;
	
}


.form-group
{
	margin: 8px 0 12px 0px;
}



}

@media (max-width: 640px) {
.emdatatable { overflow-y:auto }
}

.smartpages ul
{
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    float: right;
}
.smartpages ul li
{

list-style: none;
    position: relative;
    float: left;
    display: block;
    margin: 4px;
    padding: 4px 6px;
    line-height: 25px;
    font-weight: bold;
}
.smartpages ul li.pagenum
{

    color: #ddd;
    backgroundcolor: white;
    border: 1px solid white;
}

.smartpages ul li.current
{

    color: #bbb;
    border: 1px solid #bbb;
    background-color: #eee;
}

.usersidebartopmessages  .usericon
{
	max-height:30px;
	max-width:30px;
	width:30px;
}

.usersidebartopmessages .current
{
	background-color: #eee;
}


.usersidebartopmessages .messagearea
{
	overflow-wrap: break-word;
	inline-size: 190px;
	
}

.messageiconholder
{
 height:30px;
 padding:4px 2px 2px 4px;
}

.messageiconholder .usericon
{
    width: 30px;
    height: 30px;
    border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 
.messageselection
{
	padding:6px 2px 6px 2px;
} 
 
.messageselection:hover { 
  background-color: #eee;
}


.messageselection:hover { 
  background-color: #eee;
}

.messageselection a:hover { 
  text-decoration:none;
}

#usersidebar .card-collections-thumb {
	box-shadow:none;
	width:35px;
	padding:0px;
	height:40px;
	margin-top: 2px;
	background-size: contain;
	background-repeat: no-repeat;
}


	   .bootgriditem img
	 {
	    border-radius: 3px!important;
	    margin-bottom: 1.5rem!important;
	    width: 100%!important;
	    box-shadow: 0 0 4px 3px rgba(0,0,0,.44)!important;
	    max-width: 100%;
  		height: auto;
  		margin-top:5px;
	}


.storegalleryproduct {
	margin:0 10px 10px 0;
	bordeR:1px solid #999;
	border-radius: 3px!important;
	padding:8px;
	
}

.storeproductcard {
	width: 260px;
	font-size:0.9rem;
	}

	
.storeproductcard h4 {
	margin: 0 0 10px;
}


.storeproductcard .emthumbholder {
	max-height: 170px;
	overflow: hidden;
}

.storecurrentreservations {
	background-color: #f1f1f1; 
	padding:5px;
	margin:10px 0;
	font-size:0.8rem;
	
}

.storecurrentreservations ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.donate-proposal-sidebar {
	padding:0px;
	font-size:0.9rem;
}


.donate-proposal-sidebar h3 {
	margin: 0 0 10px;
	font-weight: 600;
}

.communityhomecontainer {
	background-color:#dedede; 
}
.communitysidebar {
	background-color: #fff;
	margin:15px 0 0 15px;
}
.communitytopbar {
	text-align: center;
	font-family: Raleway;
	font-size:1.7em;
}

.communitytagcategory { 
	padding: 0 0 1px 0;
	margin: 3px 10px 0 6px;	
}
.communitytagcategory h3 {
	font-size:1rem;
	font-weight:600;
	line-height:36px;
	height:36px;
	padding:0px 10px;
}
.communitytagcategory .card-collections {
	width: 140px;
    float: none;
    display: block;
    border: 0 none;
    margin: 5px auto 30px;
    
}
.communitytagcategory .card-collections a .collectionbox {
	color:#Fff;
}
.communitytagcategory .card-collections .card-collections-thumb {
	width: 90px;
	height: 90px;
	margin-bottom:6px;
}

.card-collections .card-name {
	background-color: #ddd;
	color:#333;
	border-radius: 0.55rem;
	padding:4px 0;
	line-height: 16px;
}
.card-collections:hover .card-name,
.card-collections.currentcat .card-name {
	background-color: #009DA4;
	color:#fff;
}
.communitytaglayout-proposals {
	padding:15px 15px 15px 0;
}

.proposalscategory {
	background-color: #fff;
	padding:10px;
}

.proposal-summary {
	padding:0px 15px;
	margin-bottom:10px;
}

.proposal-summary h3 {
	margin:0;
}
.proposal-summary h3 a {
	margin:0 0 10px 0px;
	color:#1D5655;
	font-weight: 600;
}
.proposal-summary .card-collections {
	width:100px;
}
.proposal-summary .card-collections .card-collections-thumb {
	width: 95px;
	height: 95px;
	border:2px solid #C8C446
}

.proposalscategoryheader {
	background-color: #009DA4;
	
}
.proposalscategoryheader h2 {
	font-weight:600;
	margin:0;
	float:left;
	color:#fff;
	font-size:1.2rem;
	line-height:36px;
	padding:0 15px;
	height: 36px;

}

.card-collections:hover .edit-communitytag {
	display: inline-block;
} 
.edit-communitytag {
	float:right;
	display: none;
}

.proposalsummarytable td {
	vertical-align: top;
	padding:5px 8px;
	
}

.proposal-sidebarbox {
	padding:10px 15px;
}
.proposal-sidebarbox h3 {
	text-align:center;
	font-weight: 600;
	margin:0 0 10px;
}

@font-face {
  font-family: 'Farmhouse';
  font-style: normal;
  font-weight: normal;
  src: local('Farmhouse'), url('./fonts/farmhouse.otf') format('opentype');
}

